body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color:lightblue;
  background-color: turquoise;
}

p{
  font-family:'Courier New', Courier, monospace;
  color: blue;
  font-size: 20px;
  
}

h1{
  background-color: lightseagreen;
  margin-top:0;
  padding:0.5em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.section{
  border: lightseagreen 1px solid;
  background-color: #fff;
}

img{
  width: 100px;
  height:100px
}